# This config file is only used if kernel is built in repo via Android.mk
#
# beware commented configs overrides the default variables too !

CONFIG_LOCALVERSION="-MB860-KSM"

CONFIG_KSM=y

CONFIG_MOT_ALLOW_FB_OPEN=y

CONFIG_MODULE_FORCE_LOAD=y

CONFIG_KEXEC=y
CONFIG_KEXEC_JUMP=y
CONFIG_ATAGS_PROC=y

CONFIG_MOT_SERIAL_JACK=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=4
CONFIG_SERIAL_8250_RUNTIME_UARTS=4
# CONFIG_SERIAL_8250_EXTENDED is not set
CONFIG_SERIAL_CORE=y
CONFIG_SERIAL_CORE_CONSOLE=y

# console=ttyS0,115200n8 is set by bootloader (or set to "null") after this cmdline
CONFIG_CMDLINE="mem=320M@0M nvmem=192M@320M mem=512M@512M vmalloc=320M androidboot.console=ttyS0 console=ttyS0,115200n8"
CONFIG_CMDLINE_PREPEND_ATRIX="y"

# other stuff to check...
CONFIG_CPU_FREQ_STAT_DETAILS=y
CONFIG_USB_MOT_MSC_CDROM=y
CONFIG_USB_SERIAL_CONSOLE=y

