# Additional prod config

CONFIG_MOT_ALLOW_FB_OPEN=y

CONFIG_CMDLINE="mem=320M@0M nvmem=192M@320M mem=512M@512M vmalloc=320M video=tegrafb usbcore.old_scheme_first=1 tegraboot=sdmmc tegrapart=mbr:1100:100:800,kpanic:2500:400:800 mmcparts=mmcblk0:p3(pds),p11(boot),p10(recovery),p14(cdrom),p7(misc),p6(cid),p9(kpanic),p12(system),p13(osh),p15(cache),p16(userdata),p17(preinstall) "

CONFIG_CPU_FREQ_STAT_DETAILS=y

# additional modules
CONFIG_INPUT_MOT_WEBTOP=m
CONFIG_MOT_VPNCLIENT=m
